<footer class="app-footer">
    <div class="container text-center py-3">
        <small class="copyright">Copyright &copy; <a class="app-link" href="{{siteData.siteLink}}"
                target="_blank">{{siteData.siteName}}</a> - All rights reserved.</small>

    </div>
</footer>

<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/popper.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="../../plugins/chart.js/chart.min.js"></script>
<script src="../../js/charts-custom.js"></script>

<script src="../../js/app.js"></script>

<script src="../../js/custom.js"></script>

</body>

</html>