<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}} | Encryptor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="{{title}} | Encryptor">
	<link rel="icon" href="../../../images/app-logo.png" type="image/x-icon">

	<link href="../../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="../../../plugins/fontawesome/css/fontawesome.css" rel="stylesheet">
	<link href="../../../plugins/fontawesome/css/brands.css" rel="stylesheet">
	<link href="../../../plugins/fontawesome/css/solid.css" rel="stylesheet">

	<link id="theme-style" rel="stylesheet" href="../../../css/pricing.css">
	<link id="theme-style" rel="stylesheet" href="../../../css/portal.css">

</head>

{{#if success}}
<div class="alert alert-success alert-dismissable flashmsg"
	style="width: 30%;position: fixed;top: 5%;left: 50%;transform: translate(-50%, -50%); z-index: 999999;">
	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	<a class="alert-link" href="#">Success: </a>{{ success }}
</div>
{{/if}}

{{#if return}}
<div class="alert alert-danger alert-dismissable flashmsg"
	style="width: 30%;position: fixed;top: 5%;left: 50%;transform: translate(-50%, -50%); z-index: 999999;">
	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	<a class="alert-link" href="#">Warning: </a>{{ return }}
</div>
{{/if}}



<body class="app">
	<header class="app-header fixed-top">
		<div class="app-header-inner">
			<div class="container-fluid py-2">
				<div class="app-header-content">
					<div class="row justify-content-between align-items-center">

						<div class="col-auto">
							<a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
									role="img">
									<title>Menu</title>
									<path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
										stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
								</svg>
							</a>
						</div>

						<div class="app-utilities col-auto">
							<div class="app-utility-item">
								<a href="/account/my-account" title="Account Settings">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear icon"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z" />
										<path fill-rule="evenodd"
											d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z" />
									</svg>
								</a>
							</div>

							<div class="app-utility-item app-user-dropdown dropdown">
								<a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#"
									role="button" aria-expanded="false"><img src="../../../images/user.png"
										alt="user profile"></a>
								<ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
									<li><a class="dropdown-item" href="/account/my-account">Settings</a></li>
									<li><a class="dropdown-item" href="/account/log-audit">Log Audit</a></li>
									<li><a class="dropdown-item" href="/account/page-audit">Page Audit</a></li>
									<li><a class="dropdown-item" href="/account/device-audit">Device Audit</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" href="/account/logout">Log Out</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="app-sidepanel" class="app-sidepanel">
					<div id="sidepanel-drop" class="sidepanel-drop"></div>
					<div class="sidepanel-inner d-flex flex-column">
						<a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
						<div class="app-branding">
							<a class="app-logo" href="/account/dashboard"><img class="logo-icon me-2"
									src="../../../images/app-logo.png" alt="logo"><span
									class="logo-text">Encryptor</span></a>

						</div>

						<nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
							<ul class="app-menu list-unstyled accordion" id="menu-accordion">
								<li class="nav-item">
									<a class="nav-link" href="/account/dashboard">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
												<path fill-rule="evenodd"
													d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
											</svg>
										</span>
										<span class="nav-link-text">Overview</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/account/my-account">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
												<path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
											</svg>
										</span>
										<span class="nav-link-text">Profile</span>
									</a>
								</li>

								{{#ifNot admin.blockAccess 1}}
								<li class="nav-item">
									<a class="nav-link" href="/account/file-encryption">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path
													d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
												<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
											</svg>
										</span>
										<span class="nav-link-text">Encryption</span>
									</a>
								</li>
								{{#ifNot admin.role 1}}
								<li class="nav-item">
									<a class="nav-link" href="/account/assigned/file-encryption">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16"
												class="bi bi-person-fill-lock" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
											</svg>
										</span>
										<span class="nav-link-text">Assigned Encryption</span>
									</a>
								</li>
								{{/ifNot}}
								{{/ifNot}}

								{{#ifEquals admin.role 1}}
								<li class="nav-item">
									<a class="nav-link" href="/account/users/file-encryption">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lock"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path
													d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
											</svg>
										</span>
										<span class="nav-link-text">Users Encryption</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/account/users">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path
													d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
											</svg>
										</span>
										<span class="nav-link-text">Users</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/account/attempted-device">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-qr-code-scan"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path
													d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z" />
												<path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z" />
												<path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z" />
												<path
													d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z" />
												<path d="M12 9h2V8h-2v1Z" />
											</svg>
										</span>
										<span class="nav-link-text">Attempted Device</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/account/attempted-user">
										<span class="nav-icon">
											<svg width="1em" height="1em" viewBox="0 0 16 16"
												class="bi bi-person-bounding-box" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
												<path
													d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
											</svg>
										</span>
										<span class="nav-link-text">Attempted User</span>
									</a>
								</li>
								{{/ifEquals}}
							</ul>
						</nav>


						<div class="app-sidepanel-footer">
							<nav class="app-nav app-nav-footer">
								<ul class="app-menu footer-menu list-unstyled">
									<li class="nav-item">
										<a class="nav-link" href="/account/device-audit">
											<span class="nav-icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
													viewBox="0 0 16 16" fill="currentColor" class="bi bi-pc-display"
													viewBox="0 0 16 16">
													<path
														d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z" />
												</svg>
											</span>
											<span class="nav-link-text">Device Audit</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/account/log-audit">
											<span class="nav-icon">
												<svg width="1em" height="1em" viewBox="0 0 16 16"
													class="bi bi-person-check" fill="currentColor"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
													<path
														d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
												</svg>
											</span>
											<span class="nav-link-text">Login Audit</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/account/page-audit">
											<span class="nav-icon">
												<svg width="1em" height="1em" viewBox="0 0 16 16"
													class="bi bi-shield-check" fill="currentColor"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
													<path
														d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
												</svg>
											</span>
											<span class="nav-link-text">Page Audit</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/account/logout">
											<span class="nav-icon">
												<svg width="1em" height="1em" viewBox="0 0 16 16"
													class="bi bi-arrow-bar-right" fill="currentColor"
													xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd"
														d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z" />
												</svg>
											</span>
											<span class="nav-link-text">Logout</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
	</header>