<footer class="app-auth-footer">
	<div class="container text-center py-3">
		<small class="copyright">Copyright &copy; <a class="app-link" href="{{siteData.siteLink}}"
				target="_blank">{{siteData.siteName}}</a> - All rights reserved.</small>

	</div>
</footer>
</div>
</div>
<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
	<div class="auth-background-holder">
	</div>
	<div class="auth-background-mask"></div>
	<div class="auth-background-overlay p-3 p-lg-5">
		<div class="d-flex flex-column align-content-end h-100">
			<div class="h-100"></div>
			<div class="overlay-content p-3 p-lg-4 rounded">
				<h5 class="mb-3 overlay-title">Welcome to Encryptor.</h5>
				<div>Login to get started with securing your data with us.</div>
			</div>
		</div>
	</div>
</div>

</div>

<script src="plugins/jquery/jquery.min.js"></script>

<script src="js/custom.js"></script>


</body>

</html>